name: CICD Pipeline


on: 
  push:
         branches:
            - dev
  pull_request:
    branches:
         - main

jobs:
  build:
    runs-on: self-hosted
    #runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity normal

      - name: Publish
        run: dotnet publish --configuration Release --no-build --output ./publish

      # ✅ NEW STEP – copy publish output to your local folder
      
      - name: copy to local folder
        run: |
          if not exist "F:\Publish code\TestCICD" mkdir "F:\Publish code\TestCICD"
          xcopy  ".\publish\*" "F:\Publish code\TestCICD\" /E /I /Y

      - name: Archive Production Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: production-artifacts
          path: ./publish
     
